.tooltip-container {
    position: relative;
    display: flex;
    display: inline-block;
}

.tooltip-right {
    position: absolute;
    width: max-content;
    max-width: 200px;
    z-index: 10;
    top: 50%;
    left: calc(100% + 5px);
    transform: translateY(-50%);
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.tooltip-left {
    position: absolute;
    width: max-content;
    max-width: 200px;
    z-index: 10;
    top: 50%;
    left: -5px;
    transform: translate(-100%,-50%);
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}

.tooltip-top {
    position: absolute;
    width: max-content;
    max-width: 200px;
    z-index: 10;
    top: -3px;
    left: 50%;
    transform: translate(-50%,-100%);
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border-radius: 5px;
}